{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-param-reassign": 0,
    "no-shadow": 0
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "browser": true
  }
}
